<form action="">
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
  <br>
  Age:<br>
  <input type="number" name="age">
  <br>
  DOB:<br>
  <input type="date" name="dob">
  <br>
  Active:<br>
  <input type="text" name="active">
  <br><br>
  <input type="submit" value="Submit">
</form>