<style>
    #treeview ul {
      	border-left: 1px solid #631000;
      	margin-left: 30px;
    }
    #treeview li{
      	padding-left: 0 !important;
    }
    .cmt{
    	color: #858a8c;
    	font-style: italic;
    	padding-left: 15px;
    }
    .k-i-collapse {
    	display: none !important;
    	padding-left: 15px;
    }
</style>
<ul id="treeview">
    <li data-expanded="true">
        <span class="k-sprite folder"></span>
        node_app
        <ul id='parent'>
            <li data-expanded="true">
                <span class="k-sprite folder"></span>
                config
                <ul>
                    <li><span class="k-sprite html"></span>bootstrap.js<span class='cmt'>//Define your functions and constants here and export as module</span></li>
                    <li><span class="k-sprite html"></span>db.js<span class='cmt'>//Database connection details</span></li>
                    <li><span class="k-sprite html"></span>settings.js<span class='cmt'>//All settings here</span></li>
                </ul>
            </li>
            <li data-expanded="true">
                <span class="k-sprite folder"></span>
                controllers
                <ul>
                    <li data-expanded="true">
                        <span class="k-sprite folder"></span>
                        admin<span class='cmt'>//This is the prefix/different-portal</span>
                        <ul>
                            <li><span class="k-sprite html"></span>AdminsController.js<span class='cmt'>//Write your logic part here</span></li>
                        </ul>
                    </li>
                    <li><span class="k-sprite html"></span>ArticlesController.js<span class='cmt'>//Write your logic part here</span></li>
                </ul>
            </li>
            <li data-expanded="true">
                <span class="k-sprite folder"></span>
                middleware
            </li>
            <li data-expanded="true">
                <span class="k-sprite folder"></span>
                node_modules
            </li>
            <li data-expanded="true">
                <span class="k-sprite folder"></span>
                routes
                <ul>
                    <li data-expanded="true">
                        <span class="k-sprite folder"></span>
                        admin<span class='cmt'>//All routes for admin portal/prefix</span>
                        <ul>
                            <li><span class="k-sprite html"></span>admins.js<span class='cmt'>//Specific controller routes for admins Controller</span></li>
                            <li><span class="k-sprite html"></span>index.js<span class='cmt'>//Master route for admin portal/prefix</span></li>
                        </ul>
                    </li>
                    <li><span class="k-sprite html"></span>articles.js<span class='cmt'>//Articles controller route</span></li>
                    <li><span class="k-sprite html"></span>index.js<span class='cmt'>//Master route of the application</span></li>
                </ul>
            </li>
            <li data-expanded="true">
                <span class="k-sprite folder"></span>
                views
                <ul>
                    <li data-expanded="true">
                    admin <span class='cmt'>//All admin portal view will be render from this folder</span>
                        <ul>
                            <li data-expanded="true">
                                <span class="k-sprite folder"></span>
                                admins<span class='cmt'>//All view for admins controller will be fetch from this folder</span>
                                <ul>
                                    <li><span class="k-sprite html"></span>list.html<span class='cmt'>//Content file (Use in layout)</span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li data-expanded="true">
                    articles<span class='cmt'>//All view for articles controller will be fetch from this folder</span>
                        <ul>
                            <li><span class="k-sprite html"></span>list.html<span class='cmt'>//Content file (Use in layout)</span></li>
                        </ul>
                    </li>
                    <li data-expanded="true">
                    layout<span class='cmt'>//Different layout files for pdf, page etc rendering</span>
                        <ul>
                            <li><span class="k-sprite html"></span>common.html<span class='cmt'>//Common layout for all different portal</span></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><span class="k-sprite html"></span>index.js<span class='cmt'>//App entry point</span></li>
            <li><span class="k-sprite html"></span>package.json</li>
        </ul>
    </li>
</ul>