<!DOCTYPE html>
<html>
<head>
	<title>
		<%= layout.title;%>
	</title>
</head>
<body>

<header style="text-align: center; padding: 20px; background-color: grey;">
	Put Your header here
</header>

<div style="min-height: 200px;">
<%- include(bodyFile, bodyData); %>
</div>

<footer style="text-align: center; padding: 20px; background-color: grey;">
	Put your footer here
</footer>

</body>
</html>